/*================================== VARS =========================*/
//Colors
$accent: #e84545;
$secondary: #3a3e64;
$grey: #6c7279;
$dark: #2d3033;
$white: #fff;
$bright: #c6cacc;
$reviews-bg: #53354a;



//Text

@mixin title-text {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

@mixin plain-text {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}