/*================================== ADVANTAGES =========================*/

@import "vars";

.advantages {
  padding: 120px 0;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  &__icon {
    display: block;
    margin-bottom: 30px;
  }

  &__title {
    @include title-text;
    color: $dark;
    margin-bottom: 20px;
  }

  &__desc {
    @include plain-text;
    color: $grey;
    text-align: center;
  }
}