/*================================== REVIEWS =========================*/
@import "vars";

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;

  bottom: 70px;
  left: 60px;
  li {


    button {
      &::before {
        font-size: 0;

        display: block;
        width: 20px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transition: opacity .1s linear;
      }
    }

  }
}


.reviews {
  background-color: $reviews-bg;
  width: 100%;

  &__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  &__photo {
    width: 45%;
    height: 500px;

    position: relative;
    img {
      object-fit: fill;
      position: absolute;
      right: 0;
      top: 50%;

      transform: translateY(-50%);
      z-index: 50;
      height: 100%;
    }
  }

  &__quote {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 30px;
  }

  &__text {
    font-family: "Cardo", sans-serif;
    font-style: italic;
    font-size: 3.6rem;
    color: $white;

    margin-bottom: 30px;
  }

  &__author {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
  }
}

@media (max-width: 992px) {
  .slick-dots {
    bottom: 10px;
    left: auto;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .reviews {
    &__item {
      background-color: transparent;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      padding-bottom: 40px;
    }
    &__photo {
      width: 100%;
      height: auto;
      position: relative;

      img {
        position: relative;
        transform: translateY(0);
        width: 100%;
        height: auto;

      }
    }

    &__quote {
      background-color: $reviews-bg;
      padding: 20px 0 20px 0;
      width: 80%;
      margin-left: 0;
    }
  }
}

@media (max-width: 576px) {

  .reviews {
    &__text {
      font-size: 2.4rem;
      margin-bottom: 15px;

    }



    &__author {
      letter-spacing: .15em;
      font-size: 1.2rem;
    }
  }
}